<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
  <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
  <property name="LOG_SYSTEM" value="D:\\logs\\system"/>
  <property name="LOG_COMMON" value="D:\\logs\\common"/>

  <!-- %m输出的信息, %p日志级别, %t线程名, %d日期, %c类的全名, %i索引 -->
  <!-- appender是configuration的子节点,是负责写日志的组件 -->

  <!-- 控制台输出 -->
  <!-- ConsoleAppender把日志输出到控制台 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度,%msg：日志消息，%n是换行符-->
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c - %msg%n</pattern>
      <!--控制台也要使用utf-8，不要使用gbk -->
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <!-- 按照每天生成系统日志文件 -->
  <appender name="SYSTEM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <FileNamePattern>${LOG_SYSTEM}/${ArtifactId}_system_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
      <MaxHistory>15</MaxHistory>
      <maxFileSize>256MB</maxFileSize>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %c - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- RollingFileAppender:滚动记录文件，先将日志记录到指定文件，当符合某个条件时，将日志记录到其他文件 -->
  <!-- 1.先按日期存日志，日期变了，将前一天的日志文件名重命名为xxx%日期%索引，新的日志仍然是xxx.log -->
  <!-- 2.如果日期没有变化，但是当前日志文件的大小超过 256M 时，对当前日志进行分割 重名名 -->
  <!-- 按照每天生成通用日志文件，单个文件超过256M则拆分 -->
  <appender name="COMMON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <!-- 活动文件的名字会根据fileNamePattern的值，每隔一段时间改变一次 -->
      <FileNamePattern>${LOG_COMMON}/${ArtifactId}_log_%d{yyyy-MM-dd}_%i.log</FileNamePattern>
      <!-- 每产生一个日志文件，该日志文件的保存期限为15天 -->
      <MaxHistory>15</MaxHistory>
      <!-- maxFileSize:这是活动文件的大小，默认值是10MB,这里设置256M -->
      <maxFileSize>256MB</maxFileSize>
    </rollingPolicy>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <!-- pattern节点，用来设置日志的输入格式 -->
      <pattern>%msg%n</pattern>
      <!--记录日志的编码-->
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <!-- 控制台日志输出级别 -->
  <!-- 日志输出级别 -->
  <root level="INFO">
    <!-- 启动name为“STDOUT”的日志级别，默认可以配置多个 -->
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SYSTEM_FILE"/>
  </root>

  <!-- 在哪些包下，日志输出的级别 -->
  <!-- 指定项目中某个包，当有日志操作行为时的日志记录级别 -->
  <!-- 级别依次为【从高到低】：FATAL > ERROR > WARN > INFO > DEBUG > TRACE  -->
  <logger name="${PackageName}.comm.SecurityAdapter" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="COMMON_FILE"/>
  </logger>

</configuration>