<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>

    <!--Oracle配置-->
    <add key="IP" value="127.0.0.1" />
    <add key="Port" value="2001" />
    <add key="Name" value="lxw" />
    <add key="Pwd" value="lxw" />
    <add key="Instance" value="orcl" />

    <!--MySQL配置-->
    <add key="IP_MySql" value="127.0.0.1" />
    <add key="Port_MySql" value="3306" />
    <add key="Name_MySql" value="root" />
    <add key="Pwd_MySql" value="123456" />
    <add key="DB_MySql" value="mysql" />

    <!--公共配置-->
    <add key="package" value="com.lw.lw_main"/>
    <add key="author" value="lxw"/>
    <add key="propath" value="E:\Demo"/>
    <add key="webpath" value="E:\Demo"/>

  </appSettings>
  <connectionStrings>
    <add name="MySql_DB" connectionString="server=127.0.0.1;database=mysql;User Id=root;Password=123456;Port=3306;Persist Security Info=True;"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>
