<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${PackageName}.mapper.${TableName_Pascal}Mapper">
    <resultMap id="BaseResultMap" type="${PackageName}.pojo.${TableName_Pascal}">
${BaseResultMap}
    </resultMap>
    
    <sql id="Base_Column_List">
${Base_Column_List}
    </sql>
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.${PKColumnType}">
        select
        <include refid="Base_Column_List"/>
        from ${TableName}
        where ${PKColumnName} = #{${PKColumnName_Camel},jdbcType=${PKColumn_JdbcType}} 
    </select>
    
    <select id="getNextVal" resultType="java.lang.Long" useCache="false" flushCache="false">
        select SEQ_${TableName}.nextval as id from dual
    </select>
    
    <select id="selectAllByMap" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from ${TableName}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.${PKColumnType}">
        delete  
        from  ${TableName}
        where ${PKColumnName} = #{${PKColumnName_Camel},jdbcType=${PKColumn_JdbcType}} 
    </delete>
    
${insert}
    
${insertSelective}

${updateByPrimaryKey}

${updateByPrimaryKeySelective}  
    
</mapper>